
   <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-1 d-flex align-items-center">
          <img src="{{ ASSETS_ROOT }}/img/logos/logo.png"
               class="footer-logo me-3 align-self-start"
               alt="main_logo">
        </div>
        <div class="col-md-2 col-sm-6 col-6 ms-auto">
          <div>
            <h6 class="text-sm">Company</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link"
                   href="/"
                   target="_blank">
                  About Us
                </a>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Resources</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="/"
                   target="_blank">
                  Illustrations
                </a>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Help & Support</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link"
                   href="/"
                   target="_blank">
                  Contact Us
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
          <div>
            <h6 class="text-sm">Legal</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link"
                   href="#"
                   target="_blank">
                  Terms & Conditions
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              &copy; <a href="/" target="_blank">Coded by Frezworx</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>



